# node
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
/.pnp
.pnp.js
# misc
.DS_Store
*.pem
# typescript
*.tsbuildinfo
dist/
# eslint
.eslintcache
# next
next-env.d.ts
.vercel
/.next
/out
/build
.env*.local